@page "/counter"
@inherits CounterBase


<h1 style="color:@appState.Color; font-size:@appState.Size">Counter</h1>

<div style="display:flex;">
    <div style="width: 150px">
        <select @bind="@appState.Color" class="form-control" style="margin-top: 15px">
            <option value="green">Verde</option>
            <option value="brown">Cafe</option>
            <option value="blue">Azul</option>
            <option value="red">Rojo</option>
        </select>
    </div>
    <div style="width: 150px">
        <select @bind="@appState.Size" class="form-control" style="margin-top: 15px">
            <option value="12px">12</option>
            <option value="20px">20</option>
            <option value="30px">30</option>
            <option value="40px">40</option>
        </select>
    </div>
</div>

<p style="color: @appState.Color; font-size: @appState.Size ">Current count: @currentCount</p>
<p>Singleton count: @Singleton.Value</p>
<p>Transient count: @Transient.Value</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<button class="btn btn-primary" @onclick="IncrementCountJavascript">Click me Javascript</button>


